<div class="wrapper">
	<header class="header">
    <a href="/" class="logo">
      <img src="assets/logo.png" />

      <nav class="navigation">
        <div class="navigation__box">
          <a href="/" class="navigation__item">Front Yard</a>
          <a href="/all" class="navigation__item">All Rooms</a>
          <a href="/kitchen" class="navigation__item">Kitchen</a>
          <a href="/tv" class="navigation__item">Tv room</a>
          <a href="/library" class="navigation__item">Library</a>
        </div>
      </nav>
    </a>
  </header><!-- .header-->

	<main class="content">

	</main><!-- .content -->
</div><!-- .wrapper -->

<footer class="footer">
  <a href="#">Joe Torre Safe At Home® Foundation</a>
</footer><!-- .footer -->